<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>车库管理员主界面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <![endif]-->
</head>
<body style="overflow: hidden">
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="updateAll" class="navbar-brand" th:href="@{pmain(parkingId=${parkingId})}">酷泊车</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                    <button class="btn btn-success" onclick="javascript:document.getElementById('logout').click();">登出</button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">价格</a></li>
                    <li><a id="toCarport" href="javascript:changeToCarport()">车位</a></li>
                    <li><a id="toOrder"  href="javascript:changeToOrder()">订单</a></li>
                    <li><a id="logout" th:href="@{/check/logout(parkingId=${parkingId})}" style="display: none"></a></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
</div>
<iframe id="myFrame" th:src="'/coolparking/pservice/pcarport?parkingId='+${parkingId}+'&page='+${currentPage}" th:fragment="myFrame" style="width: 100%;" onload="fitFrameHeight()" frameborder="0" >
</iframe>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" th:fragment="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    价格管理
                </h4>
            </div>
            <div class="modal-body">
                <p id="currentPrice" th:text="'当前价格为：'+${parkingPrice}+' 元/小时'"></p>
                <p>您希望的价格是：</p>
                <input id="newPrice" type="text" th:placeholder="${parkingPrice}" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ModifyUnitPrice()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    function fitFrameHeight() {
        var myFrame=document.getElementById("myFrame");
        myFrame.height=document.documentElement.clientHeight;
    }
    window.onresize=function () {
        fitFrameHeight();
    }
    function changeToCarport() {
        var myFrame=document.getElementById("myFrame");
        myFrame.src='/coolparking/pservice/pcarport?parkingId='+[[${parkingId}]]+'&page='+[[${currentPage}]];
    }
    function changeToOrder() {
        var myFrame=document.getElementById("myFrame");
        myFrame.src='/coolparking/pservice/porder?parkingId='+[[${parkingId}]]+'&page='+[[${currentPage}]]+'&type=recentOrder';
    }
</script>
<script>
    function ModifyUnitPrice() {
        let parkingPrice=[[${parkingPrice}]];
        let newPrice=document.getElementById("newPrice").value;
        let parkingId=[[${parkingId}]];
        if(newPrice!=parkingPrice&&newPrice!=null){
            let ajax = GetXmlHttpObject();
            let randomNum=new Date().getTime();
            ajax.onreadystatechange = function () {
                if (ajax.readyState==4 &&ajax.status==200) {
                    if(ajax.responseText=='true'){
                        alert("修改成功！");
                        document.getElementById("updateAll").click();
                    }
                    else {
                        alert("修改失败！");
                    }
                }
            }
            ajax.open('post','/coolparking/pservice/pmodifyprice',false);
            ajax.setRequestHeader('content-type','application/json');
            ajax.send('{\'parkingId\':'+parkingId+',\'parkingPrice\':'+newPrice+',\'randomNum\':'+randomNum+'}');
        }
    }
    function GetXmlHttpObject(){
        if (window.XMLHttpRequest){
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }else{// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlhttp;
    }
</script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>