<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>车库管理员主界面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this templates -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">酷泊车</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">价格</a></li>
                <li><a id="toCarport" th:href="@{/pservice/pmain(parkingId=${parkingId},page=${currentPage})}" >车位</a></li>
                <li><a id="toOrder" th:href="@{/pservice/porder(parkingId=${parkingId},page=${currentPage},type='recentOrder')}" >订单</a></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <br/><br/>
        <h2 th:text="${'No.'+parkingId}"></h2>
        <p th:text="${'这里是'+parkingName}"></p>
        <p><a class="btn btn-primary btn-lg" href="javascript:void(0)" role="button">了解更多&raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-7">
            <h2>车位信息</h2>
            <table>
                <thead>
                <th><h3>车位号</h3></th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th><h3>有车/无车</h3></th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th><h3>禁用/启用</h3></th>
                </thead>
                <tbody align="center">
                <tr th:each="parkingCarport : ${parkingCarportPage}">
                    <th scope="row"> <h3 th:text="${parkingCarport.getCarportNum()}"></h3></th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <td ><h3 th:text="${parkingCarport.isCarState()?'有车':'无车'}"></h3> </td>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <td ><h3><a th:href="@{/pservice/pedit(parkingId=${parkingId},page=${currentPage},parkingCarportNum=${parkingCarport.getCarportNum()},ableState=${parkingCarport.isAbleState()})}" th:text="${parkingCarport.isAbleState()?'禁用':'启用'}"></a></h3></td>
                </tr>
                </tbody>
            </table>

            <ul class="pagination right">
                <li th:class="${currentPage<1?'disabled':''}">
                    <a th:if="${currentPage < 1}" href="javascript:void(0)">上一页</a>
                    <a th:if="${not(currentPage < 1)}" th:href="@{/pservice/pmain(parkingId=${parkingId},page=${currentPage - 1})}">上一页</a>
                </li>
                <li th:each="number:${#numbers.sequence(0,parkingCarportPage.totalPages - 1)}" th:class="${currentPage==number?'active':''}" >
                    <a th:if="${currentPage==number}" href="javascript:void(0)">
                        <span th:text="${number+1}"></span>
                    </a>
                    <a th:if="${not(currentPage==number)}" th:href="@{/pservice/pmain(parkingId=${parkingId},page=${number})}">
                        <span th:text="${number+1}"></span>
                    </a>
                </li>
                <li th:class="${currentPage+1 >= parkingCarportPage.totalPages?'disabled':''}">
                    <a th:if="${currentPage+1 >= parkingCarportPage.totalPages}" href="javascript:void(0)">下一页</a>
                    <a th:if="${not(currentPage+1 >= parkingCarportPage.totalPages)}" th:href="@{/pservice/pmain(parkingId=${parkingId},page=${currentPage + 1})}">下一页</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4" id="logdiv">
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2019 university, Inc.</p>
    </footer>
</div> <!-- /container -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    价格管理
                </h4>
            </div>
            <div class="modal-body">
                <p id="currentPrice" th:text="'当前价格为：'+${parkingPrice}"></p>
                <p>您希望的价格是：</p>
                <input id="newPrice" type="text" th:placeholder="${parkingPrice}" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ModifyUnitPrice()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<p id="parkingId" th:text="${parkingId}" style="display: none"></p>
<p id="parkingPrice" th:text="${parkingPrice}" style="display:none"></p>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" th:inline="javascript">
    window.onload = function() {
        var test = setInterval(GetLogInfo,1000);
    }
    function GetLogInfo()
    {
        var request=null;
        if(window.XMLHttpRequest)
        {
            request=new XMLHttpRequest();
        }else if(window.ActiveXObject)
        {
            request=new ActiveXObject("Microsoft.XMLHTTP");
        }
        if(request)
        {
            request.open("POST",'/coolparking/pservice/pgetlog',true);
            request.onreadystatechange=function()
            {
                if(request.readyState===4)
                {
                    if (request.status == 200 || request.status == 0)
                    {
                        document.getElementById("logdiv").innerHTML="<pre>"+request.responseText+"</pre>";
                    }
                }
            }
            request.send('{parkingId:'+[[${parkingId}]]+'}');
        }else{
            alert("error");
        }
    }
    function ModifyUnitPrice() {
        let parkingPrice=document.getElementById("parkingPrice").innerText;
        let newPrice=document.getElementById("newPrice").value;
        let parkingId=document.getElementById("parkingId").innerText;
        if(newPrice!=parkingPrice&&newPrice!=null){
            let ajax = GetXmlHttpObject();
            let randomNum=new Date().getTime();
            ajax.onreadystatechange = function () {
                if (ajax.readyState==4 &&ajax.status==200) {
                    if(ajax.responseText=="true"){
                        alert("修改成功！");
                        document.getElementById("toCarport").click();
                    }
                    else {
                        alert("修改失败！");
                    }
                }
            }
            ajax.open('post','/coolparking/pservice/pmodifyprice',false);
            ajax.setRequestHeader('content-type','application/json');
            ajax.send('{\'parkingId\':'+parkingId+',\'parkingPrice\':'+newPrice+',\'randomNum\':'+randomNum+'}');
        }
    }
    function GetXmlHttpObject(){
        if (window.XMLHttpRequest){
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }else{// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlhttp;
    }
</script>

<script>
    var websocket = null;
    if('WebSocket' in window) {
        var path = "ws://127.0.0.1:8080/coolparking/webSocket/" + [[${UUID}]];
        websocket = new WebSocket(path);
    }else {
        alert('该浏览器不支持websocket!');
    }

    websocket.onopen = function (event) {
        console.log('建立连接');
    }

    websocket.onclose = function (event) {
        console.log('连接关闭');
    }

    websocket.onmessage = function (event) {
        var res = event.data;
        alert(res);

    }

    websocket.onerror = function () {
        alert('websocket通信发生错误！');
    }

    window.onbeforeunload = function () {
        websocket.close();
    }
</script>
</body>
</html>
