<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>系统管理</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <![endif]-->
</head>
<body>

        <div>
            <div style="width:50%;float: left;text-align: center;">
                <form method="post" th:action="@{/sservice/screate}">
                    <h2 style="font-size: 30px">创建车库</h2>
                    <br>
                    <label for="parkingname" >请填写停车场名:</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="parkingname" style="color: darkcyan; width: 250px" id="parkingname" placeholder="请填写停车场名" required autofocus>
                    <br><br><br>
                    <label for="tablename" >请填写车库表名:</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="tablename" style="color: darkcyan; width: 250px" id="tablename" placeholder="请填写车库表名" required autofocus>
                    <br><br><br>
                    <label for="carportnum">请填写车位数量:</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="carportnum" style="width: 250px" type="number" min="1" max="999" id="carportnum" placeholder="请填写车位数量" required>
                    <br><br><br>
                    <button type="submit" style="border-color: mediumaquamarine; font-size: 20px">创建</button>
                </form>
                <br><br>
                <form method="post" th:action="@{/sservice/screateadmin}">
                    <h2 style="font-size: 30px">添加车库管理员</h2>
                    <br>
                    <label for="newAdminId" >请填写车库号:</label>1
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="newAdminId" style="color: darkcyan; width: 250px" id="newAdminId" placeholder="请填写车库号" required autofocus>
                    <br><br><br>
                    <label for="newAdminPassword" >请填写密码:</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="newAdminPassword" style="color: darkcyan; width: 250px" id="newAdminPassword" placeholder="请填写密码" required autofocus>
                    <br><br><br>
                    <button type="submit" style="border-color: mediumaquamarine; font-size: 20px">添加</button>
                </form>
            </div>
            <div id="adminMan" style="width:50%;float: right;">
                <form>
                    <h2 style="width: 80%;text-align: center;">车库管理员账号</h2>
                    <table style="table-layout: fixed;width: 100%;">
                        <thead style="text-align: center">
                        <th><h3>车库号</h3></th>
                        <th><h3>管理员密码</h3></th>
                        <th><h3>修改</h3></th>
                        <th><h3>删除</h3></th>
                        </thead>
                        <tbody>
                        <tr th:each="adminInfo:${adminInfos}">
                            <td ><h3 th:text="${adminInfo.getParkingId()}"></h3></td>
                            <td ><h3 th:id="${adminInfo.getParkingId()}" th:text="${adminInfo.getPassword()}"></h3></td>
                            <td ><h3><a style="cursor:pointer;" th:onclick="editAdmin([[${adminInfo.getParkingId()}]],[[${adminInfo.getPassword()}]]);"  data-toggle="modal" data-target="#myModal" >修改</a></h3></td>
<!--                            th:href="'javascript:editAdmin('+${adminInfo.getPassword()}+')'" -->
                            <td ><h3><a th:href="@{/sservice/sdelete(parkingId=${adminInfo.getParkingId()},password=${adminInfo.getPassword()})}">删除</a></h3></td>
                        </tr>
                        </tbody>
                    </table>
                </form>

            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            修改密码
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>旧密码：<input id="parkingId" name="parkingId" value="" disabled="disabled" type="text"/></p>

                        <p>旧密码：<input id="oldPassword" name="oldPassword" value="" disabled="disabled" type="text"/></p>

                        <p>新密码：<input id="newPassword" name="newPassword" value="" type="text"/></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ModifyPassword()">
                            提交修改
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

    function editAdmin(parkingId, password) {
        console.log(parkingId);
        console.log(password);
        document.getElementById("parkingId").setAttribute("value",parkingId);
        document.getElementById("oldPassword").setAttribute("value",password);

    }

    function ModifyPassword() {
        var parkingId = document.getElementById("parkingId").getAttribute("value");
        var oldPassword = document.getElementById("oldPassword").getAttribute("value");
        var newPassword = document.getElementById("newPassword").value;
        console.log(newPassword);

        if(oldPassword!=newPassword&&newPassword!=null){
            let ajax = GetXmlHttpObject();
            let randomNum=new Date().getTime();
            ajax.onreadystatechange = function () {
                if (ajax.readyState==4&&ajax.status==200) {
                    if(ajax.responseText=="true"){
                        alert("修改成功！");
                        document.getElementById(parkingId).innerText=newPassword;
                    }
                    else {
                        alert("修改失败！");
                    }
                }
            }
            ajax.open('post','/coolparking/sservice/sedit',false);
            ajax.setRequestHeader('content-type','application/json');
            ajax.send('{\'parkingId\':'+parkingId+',\'password\':'+newPassword+',\'randomNum\':'+randomNum+'}');
        }
    }
    function GetXmlHttpObject(){
        if (window.XMLHttpRequest){
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }else{// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlhttp;
    }
</script>
</html>